@inherits MainLayoutBase
@using Blazored.Toast.Configuration

<div>
   <BlazoredToasts Position="ToastPosition.BottomRight"
                   Timeout="10"
                   SuccessClass="success-toast-override"
                   SuccessIconClass="fa fa-thumbs-up"
                   ErrorIconClass="fa fa-bug" />
</div>

<div class="main">
   <div class="top-row px-4">
      <div>
         <h5>Frinfo - Next Level Fridge Management</h5>
      </div>

      <a href="/" >Home</a>
   </div>

   <div class="content px-4">
      @Body
   </div>
</div>
