@inherits MainLayoutBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
   <div class="top-row px-4">
      @if (IsOnline)
      {
         <a>We are Online!</a>
      }
      else
      {
         <a>We are Offline!</a>
      }
   </div>

   <div class="content px-4">
      @Body
   </div>
</div>