@inherits HouseholdsBase

<h3>Find your Household</h3>

<div>
   <form @onsubmit="HandleSubmit">
      <input type="text" id="householdcode" @bind-value="HouseholdCode" placeholder="Enter Household Code"></input>
      <button type="submit">Search</button>
   </form>
</div>

@if (SearchedForCode)
{
<div>
   @if (!SearchSuccessful)
   {
      <a>No Household found with that code</a>
   }
   else
   {
      <a>Success</a>
   }
</div>
}
<div>
   <table class="table">
      <thead>
         <tr>
            <th>Household</th>
            <th>Code</th>
            <th></th>
         </tr>
      </thead>
      <tbody>

         @foreach (var household in RecentHouseholds)
         {
            <tr>
               <td>@household.Name</td>
               <td>@household.HouseholdCode</td>
               <td><button @onclick="@(x => RemoveFromRecentList(household))">Remove From Recent List</button></td>
            </tr>
         }
      </tbody>
   </table>
</div>