@page "/"
@inherits IndexBase

<h1>Frinfo</h1>

<div>
   <Frinfo.Client.Components.Households />
</div>

<footer>
   @if (IsOnline)
   {
      <a>We are Online!</a>
   }
   else
   {
      <a>We are Offline!</a>
   }
   <br />
   <br />
   Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</footer>