@page "/"

<h1>Frinfo</h1>

<div>
   <Frinfo.Client.Components.Households />
</div>

<footer>
   Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</footer>